:root {
  --transistonBoxBorderSize: 3px;
  --transistonBoxSize: 2vw;
  /* --offsetRight: - var(--transistonBoxSize) - var(--transistonBoxBorderSize) */
  --offsetRight: calc(calc(var(--transistonBoxSize)*-1) + calc(var(--transistonBoxBorderSize) *-2));
  --slideingCollor: yellow;
}


@keyframes rotatCalc {
  0% {
    transform: rotateZ(0deg);
    background-color: white;
  }

  /* 25%  {transform: rotateZ(90deg);}
  50%  {transform: rotateZ(180deg);} */
  100% {
    transform: rotateZ(360deg);
    background-color: lightgoldenrodyellow;
  }
}


@keyframes slideRightLeft {
  0% {
    background-color: white;
    border: var(--transistonBoxBorderSize) solid white;
  }
  100% {
    border: var(--transistonBoxBorderSize) solid var(--slideingCollor);
    background-color: var(--slideingCollor);
    width: 102vw;
  }
}

@keyframes slideLeftRight {
  0% {
    background-color: white;
    border: var(--transistonBoxBorderSize) solid white;
  }
  100% {
    border: var(--transistonBoxBorderSize) solid var(--slideingCollor);
    background-color: var(--slideingCollor);
    width: 102vw;
  }
}



#mainDiv {
  width: 80%;
  margin: auto;
  text-align: center;
}

#imageDiv {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}


img {
  width: 50%;
  height: auto;
}

.spin {
  background-color: white;
  animation-name: rotatCalc;
  animation-duration: 2s;
  background-color: lightgoldenrodyellow;
}

#fixed {  
  width: var(--transistonBoxSize);
  height: var(--transistonBoxSize);
  border: var(--transistonBoxBorderSize) solid var(--slideingCollor);
  background-color: var(--slideingCollor);
  z-index: 5;
}


#fixed2 {
  position: fixed;
  bottom: 0vw;
  right: var(--offsetRight);
  width: var(--transistonBoxSize);
  height: var(--transistonBoxSize);
  border: var(--transistonBoxBorderSize) solid var(--slideingCollor);
} 

.slidingRightLeft {
  animation-name: slideRightLeft;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.slidingLeftRight {
  animation-name: slideLeftRight;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#fixedDiv{
  position: fixed;
  background-color: green;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}